@use "./assets/sass/components";
@use "./assets/sass/mixin" as *;
@use "./assets/sass/variables" as *;


/* ----- estilos componente Header --------*/

.sec-header {
    @include flex(center,center);
    background-color: $color-bg-principal;
    top: 0;
    left: 0;
    padding: 1rem;
    border-bottom: 0.1rem solid $color-border-nav;
    .nav-menu {
        background-color: $color-bg-principal;
        left: 100%;
        transition: left 0.45s;
        li {
            a {
                color: $color-text-menu; 
                &:hover {
                    color: $color-border-nav;
                }
            }   
        }
    }
    .nav-logo img {
        max-width: 8rem;
    }
    .hamb{
        display: none;
        cursor: pointer;
    }
    .company-name {
        display: none;
    }
    .show {
        left: 50%;
    }
}

.welcome {
    padding: 0.5rem 2rem;
    @include flex(flex-end,center);
    gap: 0.8rem;
    .welcome-p{
        margin-bottom: 0;
        display: flex;
        align-items: center;
        .welcome-saludo {
            margin-bottom: 0;
            font-size:1rem;
            .boton {
                margin-left: 0.7rem;
            }
            span {
                font-size:1.3rem;
                font-weight: bold;
                text-transform: capitalize;
            }
        }
    }
    .boton {
            background: none;
            border: 0.1px solid $color-btn;;
            padding: 0.4rem 1rem;
            border-radius: 1.1rem;
            font-size: 0.8rem;
            transition: .45s;
            &:hover {
                background-color: $color-btn;
                color: $color-text;
            }
        }  
}

.principal {
    padding: 1rem 0;
    /* ----- estilos componente CarouselMenu --------*/
    .sec-carousel {
        .carousel-inner {
            .carousel-item {
                position: relative;
                width: 100%;
                height: 85vh;
                .video {
                    width: 100%;
                    filter: brightness(0.8);
                    height: 100%;                   
                    object-fit: cover;
                    object-position: center center;
                }
                .presentation {
                    position: absolute;
                    @include flex(flex-start,center);
                    flex-direction: column;
                    top: 100px;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    color: $color-text;
                    h1 {
                        font-size: 3rem;
                    }
                    p {
                        font-size: 1.5rem;
                    }
                }
               
                .carousel-caption {
                    @include flex(center,center);
                    flex-direction: column;
                    top: 5;
                    h5 {
                        font-size: 2.5rem;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    .ver-menu {
        @include flex(center,center);
        margin: 2rem;
       
        .boton {
            background-color: $color-bg-boton;
            color: $color-text-menu;
            border:0.1rem solid $color-text-menu;
            background: none;
            transition: all .45s;
            &:hover {
                background-color: $color-text-menu;
                color: $color-text ;
            }
        }  
    }
}

.sec-contact {
    @include flex(center, center);
    min-height: 80vh;
    color: $color-text-menu;
    flex-direction: column;
    padding: 2rem;
    background-color: $color-border-form;
    .sec-title {
        h3{
            font-size: 2rem;
            padding: 1rem;
        }
    }
   
    .container {
        @include flex(center, center);
        form {
            width: 70%;
            display: flex;
            flex-direction: column;
            padding: 3rem 1.5rem;
            border: 1px solid $color-border-form;
            gap: 1.5rem;
            background-color: $color-bg-principal;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            .data-input {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;  
                label {
                    width: 49%;
                }
            }
            label {
                display: flex;
                flex-direction: column;
                span {
                    display: flex;
                    justify-content: flex-start;
                    font-size: 1rem;
                }
                input {
                    width: 100%;
                    @include display-form($color-text-menu, 1rem);
                }
                textarea {
                    @include display-form($color-text-menu, 1rem);
                }
            }
            .btn-form {
                @include flex(center, center);
                .btn-base {
                    background-color: $color-bg-boton;
                    color: $color-text-menu;
                    border: 1px solid $color-text-menu;
                }
            }
        }
    }
    
}

/* ----- estilos componente Info --------*/

.sec-info {
    margin: 2rem 0;
    min-height: 100vh;
    .titulo {
        @include flex(center,center);
        padding: 1rem;
        color:$color-text-menu;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .info {
        @include flex(center,center);
        // @include base-pag(0, 55vh);
        flex-wrap: wrap;
        gap: 4rem;
        margin-bottom: 1rem;
        .info-img {
            max-width: 25rem; 
        }
        .info-text {
            width: 25rem;
            h4 {
                font-size: 1.5rem;
            } 
            p {
                font-size: 1rem;
            }
        }
    }
}

// /* ----- estilos componente Footer --------*/

.sec-footer {
    min-width: 100%;
    background-color: $color-bg-footer;
    color: $color-text;
    .footer-info {
        @include flex(center,center);
        gap: 10rem;
        font-size: 0.8rem;
        padding: 1rem;
        flex-wrap: wrap;
        .footer-img {
            @include flex(center,center);
            gap: 1rem;
            .footer-logo {
                max-width: 4.5rem;
                border-radius: 35%;
                opacity: 0.6;
            }
        }
       
    }
    .copyrigth {
        @include flex(center,center);
        font-size: 0.6rem;
        padding-bottom: 1rem;
    }
}

/* ----- estilos componente LoginPage - RegisterPage --------*/

.form-pages {
    @include flex(center,center);
    @include background-sec-form();
    padding: 3rem 0;
   
}
.container-form {
    display: flex;
    flex-direction: column;
    width: 25rem;
    padding: 0 3rem;
    border: 1px solid $color-border-form;
    background-color: $color-bg-principal;
    border-radius: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
    legend {
        padding: 2rem;
        text-align: center;
        color: $color-btn;
    }
    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        .form-field {
            border: none;
            border-bottom: 1px solid $color-btn;
            outline: none;
        }
        .form-label {
            text-align: center;
            margin-bottom: 0;
        }
        .form-msg {
            color: $color-msg-error;
            font-size: 0.8rem;   
        } 
        .btn-submit {
            @include flex(center,center);
            .boton {
                background-color: $color-bg-boton;
                border:0.1rem solid $color-text-menu;
                color: $color-text-menu;
                background: none;
                padding: 0.3rem 5rem;
                font-size: 0.9rem;
                &:hover {
                    background-color: $color-text-menu;
                    color: $color-text;
                }
            }  
        }
    }
    .text-msg {
        @include flex(center,center);
        margin-bottom: 1rem;
        gap: 0.2rem;
        .text-p{
            font-size: 0.8rem;
            margin-bottom: 0;
        }
        .link-msg {
            color: $color-text-menu ;
            text-decoration: none;
            font-weight: 700;
        }
    }
}

/* ----- estilos componente Menu --------*/
.sec-menu {
    width: 100%;
    padding: 2rem;
    .sec-category-menu {
        padding: 1rem;
    }
    .sec-prod {
        border-top: 1px solid $color-border-nav;
        padding: 4rem;
        .products-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, 16rem);
            gap: 2rem;
            justify-content: center;
            .card {
                text-decoration: none;
                .card-body {
                    .card-title {
                        color: $color-text-menu;
                    }
                    .card-text {
                        color: $color-text-menu;
                    }
                    .card-btn {
                        @include flex(center,center);
                        .boton {
                            background-color: $color-text-menu;
                            color: $color-text;
                            padding: 0.3rem 4rem;
                            border-radius: 1rem;
                            border: none;
                        }  
                    }
                }
            }
            
        }
       
    }

}

/* ----- estilos componente CategoryMenu --------*/
.category {
    @include flex(center,center);
    flex-direction: column;
    h3 {
        font-size: 2.3rem;
        color: $color-text-menu;
    }
    .list-category {
        padding: 1rem;
        @include flex(center,center);
        gap: 2rem;
        .card-project {
            width: 12rem;
            position: relative;
            cursor: pointer;
            transition: all .45s;
            .card-img {
                object-fit: contain;
                border-radius: 1rem;
                filter:brightness(70%);
            }
            .overlay {
                @include flex(center,center);
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                .overlay-title {
                    font-size: 1.4rem;
                    color: $color-text;
                    text-transform: uppercase;
                }
            }
            &:hover {
                scale: 1.02;
                .overlay-title {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

/* ----- estilos pagina dashboard --------*/

.sec-dashboard {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .nav-dashboard {
        min-width: 100%;
        z-index: 1;
        position:fixed;
        top: 0;
        @include flex(space-between,center);
        padding: 0.5rem 2.5rem;
        background-color:  rgb(36, 21, 3);
        border-bottom: 2px solid rgb(165, 113, 45) ;
        h4 {
            padding-left: 2rem;
            color: $color-text;
            margin-bottom: 0;
        }
        .logo-dashboard {
            height: 4rem;
        }
        .btn-logout {
            @include flex(center,center);
            gap: 0.2rem;
            background: none;
            border: none;
            color: $color-text;
            font-weight: 400;
            transition: .45s;
            padding: 0.3rem 0.6rem;
            border-radius: 0.6rem;
            p {
                margin-bottom: 0;
            }
            i {
                font-size: 1.3rem;
            }
            &:hover {
                background: rgb(53, 31, 5); 
            }
        }

    }
    .sidebar {
        display: flex;
        min-width: 100%;
        height: 100vh;
        flex-wrap: wrap;
        margin-top: 5.1rem;
        .option-menu {
            display: block;
            list-style: none;
            position: fixed;
            z-index: 1;
            padding-top: 3rem;
            padding-left: 0;
            margin-bottom: 0;
            background-color: rgb(36, 21, 3);
            min-height: 100vh;
            li {
                padding: 0.2rem 1rem;
                text-align: center;
                transition: .45s;
                &:hover {
                    background: rgb(53, 31, 5); 
                }
                .option {
                    background: none;
                    border: none;
                    outline: none;
                    color: $color-text;
                    font-size: 1.2rem;
                    padding: 0.4rem 2.5rem;
                }
            }   
        }
        .content {
            @include flex(center,flex-start);
            padding: 2rem;
            margin-left: 230px;
            
        }
    }

}


.clients {
    @include flex(flex-start,center);
    .table {
        margin-top: 1rem;
        text-align: center;
        font-size: 1rem;
        td {
            padding: 0 0.7rem;
        }
        button {
            font-size: 0.6rem;
        }
    }
}

.admin-products{
    flex-direction: column;
    padding: 0;
    width: 90%;
   
    .content-admin-prod {
        @include flex(center,center);
        
        .admin-listProduct {
            @include flex(center,center);
            flex-direction: column;
            gap: 0.6rem;
            h3  {
                font-size: 1.5rem;
            }
            .card {
                max-width: 40rem;
                .card-container {
                    @include flex(space-between,center);
                    .card-container-img {
                        width: 10rem;
                        .card-img {
                            padding-left: 0.5rem;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .card-container-content {
                        width: 25rem;
                        .card-body {
                            margin-top: 0;
                            padding: 0.5rem 1rem;
                            .card-title {
                                margin-bottom: 0.5rem;
                                font-weight: 700;
                            }
                            .card-text {
                                margin-bottom: 0.5rem;
                                font-size: 0.8rem;
                                span {
                                    font-size: 1rem;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                    .card-container-action {
                        width: 8rem;
                        @include flex(center,center);
                        flex-wrap: wrap;
                        .btn {
                            font-size: 0.6rem;
                            font-weight: 600;
                            padding: 0.5rem;
                        }
                    }
                }
            }
            
        }
        .container-form-product {
            @include flex(center,center);
        }
    } 
}

.menu-admin-products {
    @include flex(flex-end,center);
    padding: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
    font-size: 1.2rem;
    border-bottom: 1px solid $color-border-form;
    .btn-prod {
        font-size: 0.8rem;
    }
}

.form-product {
    @include flex(center,none);
    width: 20rem;
    flex-direction: column;
    gap: 0.3rem;
    legend {
        @include flex(center,center);
        font-size: 1.4rem;
        border-bottom: 1px solid rgb(223, 223, 231);
    }
    .containerBtn-form {
        @include flex(center,center);
        padding: 0.5rem;
    }
}

@media (max-width: 767.98px) {
    .sec-header {
        justify-content: space-between;
        top: 0;
        min-width: 100%;
        position: fixed;
        padding: 0 1.5rem;
        z-index: 2;
        .nav-menu {
            display: block;
            position: fixed;
            text-align: center;
            padding: 0;
            top: 3.35rem;
            gap: 0.8rem;
            width: 50%;
            min-height: 50vh;
            padding-top: 1rem;
            z-index: 2;
            background-color: $color-drop-down-menu;
            li {
                display: block;
                padding: 0 1rem;
               
                a {
                    padding-right: 0;
                    font-size: 0.7rem;
                    text-decoration: none;
                }   
            }
        }

        .nav-menu-2 {
            top: 9.6rem;
            padding: 0;
            z-index: 2;
        }
    
        .nav-logo img {
            max-width: 2rem;
        }
        .company-name {
            display: block;
            font-size: 1.5rem;
            color: $color-text-menu;
        }
        .hamb{
            font-size: 2.1rem;
            background: none;
            color: $color-text-menu;
            border: none;
            display: block;
            &:hover {
                color: $color-border-nav;
            }
        }
    }
    .principal {
          top: 12rem;
    }
    .sec-contact {
        min-height: 60vh;
        .sec-title {
            h3{
                font-size: 1.5rem;
            }
        }
        .container {
            form {
                .data-input {
                    label {
                        width: 100%;
                    }
                }
            }
        }
        
    }
    .welcome {
        @include flex(space-between,center);
        padding: 0.5rem 0.8rem;
        margin-top: 4rem;

        .welcome-p{
            .welcome-saludo {
                font-size: 0.9rem;
                span {
                    font-size:1.2rem;
                }
            }
        }
        .boton {
                padding: 0.3rem 0.5rem ;
                font-size: 0.7rem;
            }  
    }
    .category {
        h3 {
            font-size: 2.1rem;
        }
        .list-category {
            gap: 1rem;
            .card-project {
                width: 7rem;
                .overlay {
                    .overlay-title {
                        font-size: 0.8rem;
                        color: $color-text;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    .sec-info {
        .info { 
            gap: 2rem;
            .info-img {
                max-width: 20rem; 
            }
            .info-text {
                max-width: 20rem; 
                h4 {
                    font-size: 1.3rem;
                } 
                p {
                    font-size: 0.8rem;
                }
            }
        }
    }
    .sec-footer {
        .footer-info {
            font-size: 0.7rem;
            .footer-img {
                .footer-logo {
                    max-width: 6rem;
                }
            }
           
        }
    }
    .sec-dashboard {
        .nav-dashboard {
            h4 {
                font-size: 1.5rem;
            }
            .logo-dashboard {
                height: 3rem;
            }
            .btn-logout {
                p {
                   display: none; 
                }
            }
        }
        .sidebar {
            display: flex;
            margin-top: 4.1rem;
            .option-menu {
                @include flex(center,center);
                min-height: 0;
                padding-top: 0;
                position: fixed;
                z-index: 1;
                padding: 0;
                li {
                    padding: 0.5rem 1rem; 
                    .option {
                        font-size: 1rem;
                        padding: 0;
                    }  
                } 
            }
            .content {
                margin-left: 0px;
                margin-top: 2rem;
            }
        }
    }
    
    .admin-products{
        padding: 0 3rem;
        .content-admin-prod {   
            .admin-listProduct {
                h3  {
                    font-size: 1.5rem;
                }

                .card {
                    max-width: 35rem;
                    .card-container {
                        .card-container-content {
                            width: 20rem;
                            .card-body {
                                padding: 0.5rem 0.7rem;
                                .card-title {
                                    font-size: 0.9rem;
                                }
                                .card-text {
                                    font-size: 0.7rem;
                                    span {
                                        font-size: 0.9rem;
                                    }
                                }
                            }
                        }
                        .card-container-action {
                            width: 5rem;
                        }
                    }
                }
                
            }
        } 
    }
    .menu-admin-products {
        .btn-prod {
            font-size: 0.6rem;
        }
      
    }
}

@media (max-width: 576px) {
    .principal {
        /* ----- estilos componente CarouselMenu --------*/
        .sec-carousel {
            .carousel-inner {  
                .carousel-item {
                    height: 60vh;
                    .presentation {
                        h1 {
                            font-size: 1.5rem;
                        }
                        p {
                            font-size: 0.8rem;
                        }
                    }
                    .carousel-caption {
                        h5 {
                            font-size: 1rem;
                        }
                        p {
                            font-size: 0.6rem;
                        }
                    }
                }
            }
        }
        .ver-menu {
            @include flex(center,center);
            margin: 2rem;
            .boton {
                padding: 0.2rem 1.3rem;
                font-size: 0.8rem;
            }  
        }
    }
    .sec-header {
        .company-name {
            font-size: 1rem;
        }  
    }
    .form-pages {
        .container-form {
            width: 17rem;
            padding: 0 2.5rem;
            legend {
                padding: 1.7rem;
            }
            .form-group {
                .form-msg {
                    font-size: 0.7rem;   
                } 
                .form-field {
                    font-size: 0.8rem;
                }
                .btn-register {
                    .boton {
                        font-size: 0.8rem;
                    }  
                }
            }
            .text-msg {
                .text-p{
                    font-size: 0.7rem;
                    margin-bottom: 0;
                }
                .link-msg {
                    font-size: 0.7rem;
                }
            }
        }
    }
    .sec-footer {
        .footer-info {
            font-size: 0.6rem;
            padding: 2rem;
            gap: 1rem;
            .footer-img {
                .footer-logo {
                    max-width: 5rem;
                }
            }
           
        }
    }
    .sec-dashboard {
        .nav-dashboard {
            h4 {
                font-size: 1.2rem;
            }
            .logo-dashboard {
                height: 2.5rem;
            }
        }
        .sidebar {
            margin-top: 3.6rem;
            .option-menu {
                li {
                    padding: 0.5rem 0.8rem;
                    .option {
                        font-size: 0.8rem;
                    }  
                }   
            }
        }
    }
    .category {
        h3 {
            font-size: 1.8rem;
        }
    }
    .admin-products{
        .content-admin-prod {   
            .admin-listProduct {
                h3  {
                    font-size: 1.2rem;
                }

                .card {
                    max-width: 30rem;
                    .card-container {
                        .card-container-img {
                            width: 8rem;
                        }
                        .card-container-content {
                            width: 18rem;
                            .card-body {
                                .card-title {
                                    font-size: 0.8rem;
                                }
                                .card-text {
                                    font-size: 0.6rem;
                                    span {
                                        font-size: 0.8rem;
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
        } 
    }
    .clients {
        .table {
            font-size: 0.7rem;
           button {
            font-size: 0.5rem;
            i {
                display: none;
            }
           }
        }
    }
}

@media (max-width: 360.98px) {
    .principal {
        /* ----- estilos componente CarouselMenu --------*/
        .sec-carousel {
            .carousel-inner {
                height: 60vh;
                .carousel-item {
                    .presentation {
                        h1 {
                            font-size: 1.5rem;
                        }
                        p {
                            font-size: 0.8rem;
                        }
                    }
                    .carousel-caption {
                        h5 {
                            font-size: 1rem;
                        }
                        p {
                            font-size: 0.6rem;
                        }
                    }
                }
            }
        }
        .ver-menu {
            @include flex(center,center);
            margin: 2rem;
            .boton {
                padding: 0.2rem 1.3rem;
                font-size: 0.8rem;
            }  
        }
    }
    .sec-contact {
        .sec-title {
            h3{
                font-size: 1.1rem;
            }
        }
        .container {
            form {
                width: 90%;
                label {
                    span {
                        font-size: 0.8rem;
                    }
                    input {
                        width: 100%;
                        @include display-form($color-text-menu, 0.7rem);
                    }
                    textarea {
                        @include display-form($color-text-menu, 0.7rem);
                    }
                }
               
            }
        }
        
    }
    .sec-info {
        .info { 
            gap: 2rem;
            .info-img {
                max-width: 18rem; 
            }
            .info-text {
                max-width: 17rem; 
                h4 {
                    font-size: 1.1rem;
                } 
                p {
                    font-size: 0.7rem;
                }
            }
        }
    }
    .category {
        h3 {
            font-size: 1.5rem;
        }
        .list-category {
            .card-project {
                width: 5.5rem;
                .overlay {
                    .overlay-title {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
    .sec-dashboard {
        .nav-dashboard {
            padding: 0.5rem 1.1rem;
            h4 {
                font-size: 1rem;
            }
            .logo-dashboard {
                height: 2rem;
            }
            .sidebar {
                .option-menu {
                    li {
                        padding: 0.5rem 0.8rem;
                        .option {
                            font-size: 0.6rem;
                        }  
                    }   
                }
            }
        }
    }
    .admin-products{
       padding: 0;
        .content-admin-prod {   
            .admin-listProduct {
                h3  {
                    font-size: 1rem;
                }

                .card {
                    max-width: 20rem;
                    .card-container {
                        .card-container-img {
                            width: 8rem;
                        }
                        .card-container-content {
                            width: 10rem;
                            .card-body {
                                .card-title {
                                    font-size: 0.7rem;
                                }
                                .card-text {
                                    font-size: 0.5rem;
                                    span {
                                        font-size: 0.7rem;
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
        } 
    }
    .form-product {
        width: 16rem;
        legend {
            font-size: 1rem;
        }
        label {
            font-size: 0.7rem;
        }
        input {
            font-size: 0.7rem;
        }
        select {
            font-size: 0.7rem;
        }
        textarea {
            font-size: 0.7rem;
        }
        .containerBtn-form {
            padding: 0.3rem;
        }
    }
    .welcome {
        .welcome-p{
            .welcome-saludo {
                margin-bottom: 0;
                font-size:0.7rem;
                span {
                    font-size:0.9rem;
                }
            }
        }
        .boton {
                padding: 0.2rem 0.4rem;
                font-size: 0.5rem;
            }  
    }
}