
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    li {
        a {
            padding-right: 2rem;
            font-size: 1.2rem;
            font-weight: 700;
            text-decoration: none;
        }   
    }
}

.boton {
    padding: 0.4rem 2.5rem;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

.list {
    display: block;
    list-style: none;
    li {
        i {
            font-size: 1.5rem;
            font-weight: 700;
            text-decoration: none;
        }   
    }
}

.card {
    .card-img-top {
        max-width: 16rem;
    }
    .card-body {
        margin-top: 0.6rem;
        .card-title {
            text-align: center;
            margin-bottom: 1rem;
            font-size: 1.1rem;
        }
        .card-text {
            font-size: 0.8rem;
        }
    }
}