
@mixin flex($justify-content, $align-items) {
   display: flex;
   justify-content: $justify-content;
   align-items: $align-items;
}

@mixin base-pag($margin-top, $min-height) {
   min-height: $min-height;
   margin-top: $margin-top;
   max-width: 1400px;
}
