
@mixin flex($justify-content, $align-items) {
   display: flex;
   justify-content: $justify-content;
   align-items: $align-items;
}

@mixin display-form($color-text, $font-size) {
   padding: 0.4rem 1rem;
   border-width: 0.5px;
   border-radius: 0.3rem;
   outline: none;
   color: $color-text;
   font-size: $font-size;
}

@mixin background-sec-form(){
   background-color: #ffffff;
   opacity: 0.8;
   background-image:  radial-gradient(#a9985e 0.8px, transparent 0.8px), radial-gradient(#a9985e 0.8px, #ffffff 0.8px);
   background-size: 32px 32px;
   background-position: 0 0,16px 16px;
   
}
