//variables

$color-border-nav:  rgba(180, 177, 12, 0.925);
$color-text-menu: rgb(26, 20, 2);
$color-bg-footer: rgb(14, 10, 1);
$color-text: rgb(243, 243, 240);
$color-bg-principal: #fff9f9;
$color-border-form:rgb(204, 199, 199);
$color-msg-error: rgba(240, 28, 28, 0.897);
$color-bg-boton: #ffffff;
