//variables

$color-border-nav:  rgba(175, 172, 13, 0.925);
$color-text-menu: rgb(83, 59, 31);
$color-bg-footer: rgb(14, 10, 1);
$color-text: rgb(243, 243, 240);
$color-bg-principal: rgb(255,255,255);
$color-border-form:rgb(247, 248, 238);
$color-msg-error: rgba(240, 28, 28, 0.897);
$color-bg-boton: #ffffff;
$color-btn:  rgb(109, 81, 50);
$color-drop-down-menu: rgb(247, 247, 233);